.test{
    border: 2px solid slateblue;

}

.container{
    max-width: 1200px;
    margin: 0 auto;

}
/* ========Logo_Design======= */
.logo-text{
    color: #E6533C;
    font-size: 2.25rem;
    font-style: italic;
    font-weight: 800;
    line-height: 120%; /* 2.7rem */
}
/* ========Logo_Design==Ends===== */

/* ================Flex=================Start */
.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}

.space-between{
    justify-content: space-between;
}

/* Flex deriction */
.flex-col{
    flex-direction: column;
}
/* Flex deriction End*/

/* ================Flex=================End */

/* ====================Gap====================== */
.gap-2_5{
    gap: 2.5rem;
}
.gap-1_75{
    gap: 1.75rem;
}
.gap-5_5{
    gap: 22.5rem;
}
.gap-1{
    gap: 1rem;
}
/* ====================Gap=====End================= */


/* ========= */


.style-none{
    list-style: none;
}

.text-decoration-none{
    text-decoration: none;
}

/* =======Margit================ */
.mt-2_5{
    margin-top: 2.5rem;
}
/* =======Margit================Ends== */

/* ======Padding================== */
.pt-2_5{
    padding-top: 2.5rem;
}
.py-2{
    padding: 2rem 0;
}
.px-1_5{
    padding-left: 1.5rem ;
    padding-right: 1.5rem ;
}
/* ======Padding==================Ends== */

/* ======Button-style======= */
.btn-primary{
    padding: 1rem 2.5rem;
    border-radius: 2.625rem;
    background: #E6533C;
    cursor: pointer;
}
/* ======Button-style=======Ends== */

/* =========Display====== */

/* =======Hide====== */
.hide{
    display: none;
}
/* ========Block====== */
.block{
    display: block;
}

/* ========Inline===== */
.inline{
    display: inline;
}
/* =========Display======Ends */

/* ======Width===== */
.w-50{
    width: 50%;
}
.w-80{
    width: 80%;
}
.w-75{
    width: 75%;
}
/* ======Width=====End */

.fluid{
    width: 100%;
}

/* ====Text====== */
/* Color text */
.text-white{
    color: #fff;
}


/* font size */
.text-4_75{
    font-size: 4.75rem;
}
/* line hight */
.lh-5_85{
    line-height: 5.85rem;
}
/* ====Text======End */

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.top-32{
    top: 32rem;
}
.left-7{
    left: 7rem;
}

.top-20{
    top: 7rem;
}
.-right-12{
    right: -5rem;
}
