/* Responsive Breakpoint:
Small device: upto 576 px 

Medium Device: 576px to 992 px 

Large Device: above 993 px  */


/* Responsive Mobile Started here */
@media screen and (max-width: 576px) {
    .sm-block{
        display: block;
    }
    .sm-inline-block{
        display: inline-block;
    }
    .sm-hide{
        display: none;
    }

    .sm-flex-col{
        flex-direction: column;
    }
    .sm-w-100{
        width: 100%;
    }
    .banner-img{
       margin: 0;
    }
    .sm-right-0{
        right: -1rem;
    }
    .sm-bottom-16{
        bottom: 12rem;
    }
    .sm-left-3{
        left: 0.5rem;
    }
    #free-video-title{
        font-size: 1.5rem;
    }
    .sm-grid-col-1{
        grid-template-columns: 1fr;
    }
    .sm-gap-1_9{
        gap: 1.9rem;
    }

}

/* Responsive Mobile Ends here */

/* Responsive Tab  Started here */

@media screen and (min-width: 576px) and (max-width: 992px) {
    .md-block{
        display: block;
    }
    .md-hide{
        display: none;
    }
    .md-w-100{
        width: 100%;
    }
    .md-flex-col{
        flex-direction: column;
    }

    .md-right-5{
        right: 5rem;
    }
    .md-grid-col-2{
        grid-template-columns: repeat(2, 1fr);
       
    }
   
}

/* Responsive Tab Ends here */
/* Responsive PC  Started here */

@media screen and (min-width: 992px) {
    .lg-block{
        display: block;
    }
    .lg-hide{
        display: none;
    }
}

/* Responsive PC Ends here */
