@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

@font-face {
    font-family: Miama;
    src: url(../font/Miama.ttf);
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Inter", sans-serif;
    background: #000;
    
}

header{
    background: linear-gradient(180deg, #111 0%, rgba(119, 107, 107, 0) 100%);
    min-height: 300px;
    background-color: #111111d5;

   
}

header > nav a{
    text-decoration: none;
    color: #FFF;
    font-weight: 400;
}

header p{
    color: rgba(255, 255, 255, 0.65);
font-family: Inter;
font-size: 0.8125rem;
font-style: normal;
font-weight: 400;
line-height: 1.25rem; /* 153.846% */
letter-spacing: 0.0625rem;
}
.heading-style-font{
    font-weight: 400;
    /* font-family: "Sacramento", cursive; */
    font-family: Miama;
    font-size: 9rem;

}
.nav-manu-border{
    border-radius: 2.4375rem;
    border: 3px solid rgba(255, 255, 255, 0.10);
    padding-right: 1.25rem;

    /* border: 5px solid black; */
}

.banner-img{
    margin-left: 6.44rem;
}
.video-tutorial-cart{
     padding: 12px;
    border-radius: 0.75rem;
    border: 1px solid rgba(255, 255, 255, 0.411);
    background: rgba(48, 48, 48, 0.364);
    backdrop-filter: blur(10px);
    cursor: pointer;
}

#free-video-title{
    font-size: 2.5rem; font-weight: 900; line-height: 2.5rem; letter-spacing: 0.0625rem;
}


/* Cart Circle */
main{
    max-width: 1200px;
    margin: 0 auto;
}

.cart-image{
    /* width: 12.5rem;
    height: 12.5rem; */
    border-radius: 50%;

}
.cart-image img{
    /* width: 12.5rem;
    height: 12.5rem; */
    border-radius: 50%;

}

.card-title{
font-size: 1.125rem;
font-weight: 600;
line-height: 120%; 
}

.card-description{
    color: rgba(255, 255, 255, 0.50);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.125rem; 
    letter-spacing: 0.01875rem;
}

/* <!-- Run an Extra Mile Easily section style Started here  --> */

.run-anextra-container{
    min-height: 129px;
    /* border: 6px solid salmon; */
    background: rgba(241, 224, 224, 0.145);
    padding: 1.875rem 2rem 1.8125rem 3.375rem;
    gap: 10.3125rem;
    border-radius: 1.125rem;
   
}

.run-extra-title{
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%; 
}

.run-rxtra-image img{
    object-fit: cover;
    border-radius: 1.125rem;
    
}
/* <!-- Run an Extra Mile Easily section style Ends here  --> */

/* Meet Our Team Section Style started here */
.meet-img-container img{
    
    border-radius: 1.125rem;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%);
    filter: contrast(90%);
}
.meet-title{
    
    font-size: 1.25rem;
    font-weight: 900;
    line-height: 120%; 
}

.meet-img-container img{
    height: 400px;
    object-fit: cover;
}
/* Meet Our Team Section Style Ends here */
footer{
    background: rgba(255, 255, 255, 0.10);
   
}
.footer-content{
    padding-left: 2rem;
    padding-right: 2rem;
}
.footer-content h2{
    color: #FFF;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
}

.footer-item{
    color: #FFF;
    font-size: 1.4375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; 
    opacity: 0.7;
    cursor: pointer;
}

.hr-style{
    stroke-width: 2px;
stroke: rgba(255, 255, 255, 0.10);

}

.copy-wright{
    color: rgba(255, 255, 255, 0.50);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5rem; 
    letter-spacing: 0.01875rem;
    opacity: 0.7;

}
.footer-small-text{
    color: rgba(255, 255, 255, 0.50);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5rem; 
    letter-spacing: 0.01875rem;
    opacity: 0.7;
}
thead{
    font-weight: 800;
    font-size: 2.25rem;

}

tbody{
    color: #FFF;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
   
    opacity: 0.7;
}
table, thead, tr, td, th{
    border: 1px solid slategray;
    border-collapse: collapse;
    line-height: 120%; /* 1.2rem */
    padding: 1.2rem;
}

.table-hedline{
    color: #FFF;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 900;
    line-height: 120%; /* 2.1rem */
}

.calculate-hedline{
    font-size: 1.75rem;
}
.calculate input{
    color: #FFF;

    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.10);
    height: 3rem;
    padding: 0.75rem 2.5rem 0.75rem 1.25rem;
    border: none;
}
select{
    color: #FFF;

    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.10);
    height: 3rem;
    padding: 0.75rem 2.5rem 0.75rem 1.25rem;
    border: none;

}

#female{
    height: 4.3rem;
    color: #FFF;
    opacity: 0.7;
}

.bmi-calculator-container{
    background: rgba(255, 255, 255, 0.10);
    padding: 3rem;
    
}

#get-in-tuch-input-fild input{
    color: #FFF;
    height: 3rem;
    width: 100%;
    font-size: 1.2rem;
    padding: 12px;
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.10);
    border: none;



}
#get-in-tuch-input-fild textarea{
    height: 7rem;
    width: 100%;
    resize: none;
    font-size: 1.2rem;
    padding: 12px;
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.10);
    border: none;
    color: #FFF;

}

